@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

div {
    margin: 5px;
}

#container {
    width: 620px;
    margin: auto;
    padding: auto;
}

#container * {
    background-color: rgb(80, 80, 80);
    margin: 5px;
}